<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="https://www.in28minutes.com" class="navbar-brand">in28mins</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto d-flex flex-row">
                <!-- updating href with routerlink because href refreshes the entire page -->
                <li class="nav-item"><a routerLink="/welcome/bhawnasingh" class="nav-link">Home</a></li>
                <li class="nav-item"><a routerLink="/todos" class="nav-link">ToDos</a></li>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
                <li class="nav-item"><a routerLink="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>